<div class="dashboard-wrapper">
  <section class="dashboard-users">
    
    <div id="dashboard-users-list-heading">
      <h3 id="logo">
        Friends
      </h3>
    </div>
    {{#if users.length}}
    <div id="dashboard-users-list">
      <ul>
        {{#each users as |user|}}
        <li>
          {{> user-info user}}
          <a href="/users/{{user.id}}">{{user.username}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </section>

  
  <section class="dashboard-pic-feed">
    <ol>
      
      <li id="feed-pic">
        pic1
      </li>
      <li>
        pic2
      </li>
      <li>
        pic3
      </li>
      <li>
        pic4
      </li>
    </ol>
  </section>
  
</div>

<script src="/javascript/add-post.js"></script>