<div class="dashboard-wrapper">
  <section class="dashboard-users">
    <div id="dashboard-loggedin-user">
      <a href="/users/{{user.id}}">{{user.username}}theprattler</a>
    </div>
    
    <div id="dashboard-users-list">
      <ul>
        
        <li>
          
          <a href="/users/{{user.id}}">{{user.username}}user</a>
        </li>
        <li>
          user2
        </li>
        <li>
          user3
        </li>
        <li>
          user4
        </li>
        <li>
          user5
        </li>
      </ul>
    </div>
    
  </section>

  
  <section class="dashboard-pic-feed">
    <ol>
      
      <li>
        pic1
      </li>
      <li>
        pic2
      </li>
      <li>
        pic3
      </li>
      <li>
        pic4
      </li>
    </ol>
  </section>
  
</div>

<script src="/javascript/add-post.js"></script>