<div class="dashboard-wrapper">
  <section class="dashboard-users">
    
    <div id="dashboard-users-list-heading">
      <h3 id="logo">
        Friends
      </h3>
    </div>
    {{#if users.length}}
    <div id="dashboard-users-list">
      <ul>
        {{#each users as |user|}}
        <li>
          {{> user-info user}}
          <a href="/users/{{user.id}}">{{user.username}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </section>

  
  <section class="dashboard-pic-feed">
    <ol>
      
      <li id="feed-pic">
        user posted on Jan 26, 2022
        <img src="/images/test-one.jpg" height="500" width="500">
        alien commented "What a creep!"
        <br>
        you commented "The other half must be really bad"
      </li>
      <li>
        
      </li>
      <li>
        
      </li>
      <li>
        
      </li>
    </ol>
  </section>
  
</div>

<script src="/javascript/add-post.js"></script>