<div class="login-wrapper">
  <form class="signup-form">
    <div>
      <h1 id="logo">Create an Account</h1>
    </div>
    <div>
      <input type="text" class="text-field" id="username-signup" placeholder="Username"/>
    </div>
    <div>
      <input type="text" class="text-field" id="email-signup" placeholder="Email"/>
    </div>
    <div>
      <input type="password" class="text-field" id="password-signup" placeholder="Password"/>
    </div>
    <div>
      <button type="submit" class="btn" id="signup-btn">Sign Up</button>
    </div>
  </form>

  <form class="login-form">
    <div>
      <h1 id="logo"><span>Pixtagram User</span></h1>
    </div>
    <div>
      <input type="text" class="text-field" id="email-login" placeholder="Email"/>
    </div>
    <div>
      <input type="password" class="text-field" id="password-login" placeholder="Password"/>
    </div>
    <div>
      <button type="submit" class="btn" id="login-btn">Log In</button>
    </div>
  </form>
</div>
<script src="/javascript/login.js"></script>