<!-- form with an image type and javascript handling form submition that is similar to login -->
<!-- update the post model to someway store the related upload image; return that similar to comments in the model folder and routes -->
<div>
    <h1>| New Post |</h1>
    <h2>Select an Image:</h2>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
             <textarea name="comment-body"  placeholder="* Add Comment *"></textarea>
        <input type="submit" value="Submit">
    </form>

</div>