<div class="user-profile-wrapper">
  <section class="user-profile">
    <div id="profile-heading">
      {{user.username}}
    </div>
    <div>
      <button class="btn" id="profile-btn"><a href="#" id="">Edit Profile</a></button>
    </div>
  </section>
  <section class="user-bio">
    
  </section>
</div>