<div id="landing-page">
  <!--<img src="images/landing-page.jpg" id="landing-page-img">-->
  <div id="landing-page-text">
    <div class="lpt" id="lpt-one">
      <p>
        Millions of users log on to their favorite social media platforms every day.
      </p>
    </div>
    <div class="lpt" id="lpt-two">
      <p>
        Each of these users are monetized through multuple channels;
      </p>
    </div>
    <div class="lpt" id="lpt-three">
      <p>
        targeted advertisements and post sponsors are two examples.
      </p>
    </div>
    <div class="lpt" id="lpt-four">
      <p>
        These advertisements are plastered all over the applications and it is nearly impossible to avoid them.
      </p>
    </div>
    <div class="lpt" id="lpt-five">
      <p>
        Are you a user who has grown weary of being harassed by these invasive marketing tactics?
      </p>
    </div>
    <div class="lpt" id="lpt-six">
      <p>
        We at Pixtagram have created an opportunity in the market for a new user-first social platform,
      </p>
    </div>
    <div class="lpt" id="lpt-seven">
      <p>
        dedicated to providing the social experience that originally made those apps so popular in the first place.
      </p>
    </div>
    <div class="lpt" id="lpt-eight">
      <p>
        The main differentiator provided by Pixtagram is the guarantee of data privacy for its users backed with an advertisement free experience.
      </p>
    </div>
    <div class="lpt" id="lpt-nine">
      <p>
        Why not <a href="/login" id="lpt-login">get started</a> now?
      </p>
    </div>
  </div>
</div>