* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

main {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

input {
  height: 37px;
}

ul, ol {
  list-style-type: none;
  padding: 0px;
}

.btn {
  height: 37px;
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}



/* WRAPPER containing all Main template */
.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

/* Pixtagram logo */
#logo {
  font-family: 'Pacifico', cursive;
}

/* Container for Navigation Bar in Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Search Field */
#navbar-search {
  margin: 0 20px;
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid lightslategray;
  padding: 5px;
}

.cloudinary-button {
  height: 37px;
  border: 1px solid blue;
}



/* Logout Button */
#logout {
  padding: 5px;
  margin: 0 20px;
  background-color: red;
  border-radius: 5px;
  border: red;
  color: white;
}

#logout:hover {
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  cursor: pointer;
}

/* Login Button */
#login {
  padding: 5px;
  margin-left: 20px;
  background-color: red;
  border-radius: 5px;
  border: red;
}

/* Login Button Text */
#login-link {
  color: white;
}

/* Landing Page ("Welcome") template */
#landing-page {
  width: 100%;
  min-height: 650px;
  background-image: url('../images/landing-page.jpg');
  background-size: cover;
  background-position: center center;
}

#landing-page-text p {
  margin: 0;
  color: white;
}

.lpt {
  padding-bottom: 25px;
}

#lpt-one {
  padding-top: 25px;
  padding-left: 650px;
}

#lpt-two {
  padding-left: 750px;
}

#lpt-three {
  padding-left: 775px;
}

#lpt-four {
  padding-left: 600px;
}

#lpt-five {
  padding-left: 550px;
}

#lpt-six {
  padding-left: 525px;
}

#lpt-seven {
  padding-left: 425px;
}

#lpt-eight {
  padding-left: 270px;
}

#lpt-nine {
  padding-top: 25px;
  padding-left: 900px
}

#lpt-login {
  color: red;
}

/* WRAPPER containing all Login template */
.login-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 125px 0;
}

.signup-form, .login-form {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 25px;
  opacity: 0.7;
  margin: 25px;
}

.signup-form:hover, .login-form:hover {
  opacity: 1;
  transition: opacity .3s;
}

#logo span {
  display: flex;
  justify-content: center;
}

.login-form {
  justify-content: space-between;
}

.text-field {
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 7px;
}

#signup-btn, #login-btn {
  width: 250px;
}

/* WRAPPER containing Dashboard template */
.dashboard-wrapper {
  display: flex;
  justify-content: center;
  padding: 75px 0 125px 0;
}

.dashboard-users {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 20px;
  align-items: flex-start;
}

#dashboard-users-list-heading {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
}

#dashboard-users-list {
  display: flex;
  justify-content: center;
}

#dashboard-users-list ul li {
  padding-bottom: 7px;
}

#dashboard-users-list ul li a {
  color: red;
}

.dashboard-pic-feed {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0 20px;
}

#feed-pic {
  max-width: 45%;
  max-height: 45%;
  display: flex;
  flex-direction: column;
}

#comment-body {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* FOOTER */
footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}